################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eShopSolution/FileContentIndex
/eShopSolution.Application/obj/Release/net5.0
/.vs
